@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-weight: 400;
  src: local('Volkhov Italic'), local('Volkhov-Italic'), url(../fonts/SlGSmQieoJcKemNecTA0h1Ry.ttf) format('truetype');
}
